.contact-wrapper {
  position: absolute;
  top: 120px;
  font-family: Univers_45;
  background-color: $dark_blue;
  color: $dark_blue;
  width: 100%;
  @include flex(column);
  .title {
    @include txtContact();
    animation: titleContact 2s linear forwards;
  }
  .contact-way {
    @include txtContact();
    color: $white;

    animation-name: wayContact;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-delay: 0s; //before startting
    animation-iteration-count: 1; //or infinite
    animation-fill-mode: forwards;
    animation-direction: alternate//direction;
  }
  .office {
    @include flex(row);
    .office-img {
      flex: 1;
      width: 100%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(16, 15, 15, 0.419);
        width: 100%;
        height: 0%;
        opacity: 1;
        font-size: 30px;
        font-weight: bolder;
        color: $white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-items: center;

        animation-name: imgContact;
        animation-duration: 500ms;
        animation-timing-function: linear;
        animation-delay: 0s; //before startting
        animation-iteration-count: 1; //or infinite
        animation-fill-mode: forwards;
        animation-direction: alternate//direction;
      }
      &:hover::after {
        animation-name: imgAfterContact;
        animation-duration: 500ms;
        animation-timing-function: linear;
        animation-delay: 0s; //before startting
        animation-iteration-count: 1; //or infinite
        animation-fill-mode: forwards;
        animation-direction: alternate//direction;
      }
      .office-programming {
        width: 100%;
        padding: 23px;
      }
    }
    .office-desc {
      flex: 1;
      @include flex(column);
      color: $white;
      .office-desc-title {
        @include txtStyleContact();
        margin-top: 60px;
        font-weight: 700;

        width: 0%;
        height: 1.5em;
        overflow: hidden;

        animation-name: descTitleContact;
        animation-duration: 500ms;
        animation-timing-function: linear;
        animation-delay: 0s; //before startting
        animation-iteration-count: 1; //or infinite
        animation-fill-mode: forwards;
        animation-direction: alternate//direction;
      }
      .office-desc-paragraphe {
        @include txtStyleContact();
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: $dark_blue;

          animation-name: descParagContact;
          animation-duration: 500ms;
          animation-timing-function: linear;
          animation-delay: 0s; //before startting
          animation-iteration-count: 1; //or infinite
          animation-fill-mode: forwards;
          animation-direction: alternate//direction;
        }
      }
    }
  }
  .phone-email {
    height: 200px;
    background-color: $white;
    @include flex(row);
    .phone {
      @include contact();
      cursor: pointer;
      &:hover {
        background-color: $black;
      }
      &:hover .phoneIcon {
        color: $white;
      }
      &:hover .phoneTxt {
        color: $white;
      }
      .phoneIcon {
        color: $black;
        @include iconContact();
      }
      .phoneTxt {
        @include iconTxt();
      }
    }
    .email {
      @include contact();
      cursor: pointer;
      border-left: 1px solid $dark_blue;

      &:hover {
        background-color: $black;
      }
      &:hover .emailIcon {
        color: $white;
      }
      &:hover .emailTxt {
        color: $white;
      }
      .emailIcon {
        @include iconContact();
      }
      .emailTxt {
        @include iconTxt();
      }
    }
  }
  .subTitle {
    @include txtContact();
    color: $white;
  }
  .fullname-number {
    @include flex(row);
    background-color: $white;
    height: 100px;
    align-items: center;
    padding: 0 30px;
    .fullname {
      font-weight: 700;
      flex: 1;
      color: #333;
      height: 100%;
      align-items: center;
      justify-content: start;
      @include flex(row);
    }
    .number {
      flex: 1;
      color: #0c2340;
      text-decoration: underline;
      align-items: center;
      justify-content: start;
      @include flex(row);
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 1.5;
      height: 100%;
    }
  }
  .formContact {
    background-color: $white;
    padding: 45px;
    .personalInfo {
      @include txtStyleContact();
      color: $black;
      text-transform: uppercase;
      margin: 30px 0 30px 10px;
    }
    .name {
      @include flex(row);
      .InputName {
        height: 54px;
        @include inputContact();
      }
    }
    .contactInfo {
      @include txtStyleContact();

      color: $black;
      text-transform: uppercase;
      margin: 30px 0 30px 10px;
    }
    .emailDesc {
      @include flex(row);
      .email {
        @include flex(row);
        flex: 1;
        .emailInput {
          height: 54px;
          flex: 1;
          @include inputContact();
        }
      }
      .desc {
        flex: 1;
        @include flex(row);
        .descArea {
          flex: 1;
          @include inputContact();
        }
      }
    }
    .submit-cta {
      background-color: $dark_blue;
      border: none;
      line-height: 2;
      font-size: 14px;
      border-radius: 2px;
      color: $white;
      padding: 0 30px;
      text-transform: uppercase;
      margin: 15px 0 30px 26px;
      cursor: pointer;
    }
    .required-field {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 1.5;
      color: #333;
      margin-left: 26px;
    }
  }
}
