/* ---- index section ---- */
.home-wrapper{
    position: absolute;
    top: 120px;
    width: 100%;
    color: #FFF;
    /*background-image: url("../img/2.png");*/
    background-position: top;
    background-repeat: no-repeat;
    background-size: 30% 50%;
    .home-section{
        @extend .roboto_regular_base;
        color: white;
        position: relative;
        display: flex;
        flex-direction: row;
        .home-left{
            width: 100%;
            .my-name{
                font-size: 48px;
                margin-left: 140px;
            }
            .who-am-i{
                font-size: 30px;
                margin-top: 45px;
                margin-left: 140px;
            }
            .skills{
                font-size: 15px;
                list-style: none;
                padding-inline-start: 0;   
                margin-left: 140px;
                .skill-item{
                    margin-bottom: 15px;
                    .skill-item-name {
                        display: flex;
                        .circular-chart {
                            width: 35px;
                        }
                        .circular-chart.orange{
                            .circle {
                                stroke: #fdfdfd;
                                fill: none;
                                stroke-width: 2.8;
                                stroke-linecap: round;
                                animation: progress 1s ease-out forwards;
                            }
                            @keyframes progress {
                                0% {
                                stroke-dasharray: 0 100;
                                }
                            }
                            .percentage {
                                fill: rgb(255, 255, 255);
                                font-family: sans-serif;
                                font-size: 0.5em;
                                text-anchor: middle;
                            }
                        }
                        .skill-item-name-txt{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 12px;
                            font-size: 12px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                        }
                    }
                } 
            }
            .about-cta{
                margin-left: 140px;
                font-size: 20px;
                width: 120px;
                height: 40px;
                border: 1px solid;
                background: black;
                text-align: center;
                position: relative;
                cursor: pointer;
                .learn-more{
                    color: white;
                    margin-left: auto;
                    margin-right: auto;
                    text-decoration: none;
                    position: absolute;
                    top: 12px;
                    left: 9px;
                    font-size: 13px;
                    letter-spacing: 0.3em;
                }
            }
        }
        .home-right{
            width: 100%;
            margin-right: 140px;
            box-shadow: 0px 0px 21px 2px rgba(255,255,255,1);
            width: 100%;
            position: relative;
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgb(78, 78, 75);
                opacity: 0.5;
                position: absolute;
                top: 0;
                left: 0;
            }
            // to paste into scss/about-articles/_home-skills.scss
            .home-skills{
                 
            }
        }
    }
}