.work-wrapper{
    position: absolute;
    top: 120px;
    width: 100%;
    color: #FFF;
    /* background-image: url(../img/2.png); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: 30% 50%;
}