.work-wrapper {
  @include afterHeader();
  font-family: "FuturaLT-Book";
  .work-list {
    margin: 60px;
    .uk-open {
      .uk-accordion-title {
        border: 3px solid;
        padding: 30px;
        text-transform: uppercase;
      }
      .uk-accordion-content {
        .bytel .jacozzi .lacaisse.ma .cap .smile {
        }
        .activities {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          .technologies{
          }
          .desc{

          }
        }
      }
    }
  }
}
